<div class="tool-area-group">
    <div class="input-group">
        <label for="input-text" class="label">Input Text</label>
        <textarea id="input-text" class="textarea"
            placeholder="Type or paste text here..."></textarea>
    </div>

    <div class="input-group mt-lg">
        <label for="output-text" class="label">Binary Output</label>
        <textarea id="output-text" class="textarea" readonly
            placeholder="010101..."></textarea>
    </div>

    <div class="btn-wrapper mt-md">
        <button class="btn btn-primary" id="btn-copy">Copy Binary</button>
        <button class="btn btn-outline" id="btn-clear">Clear</button>
    </div>
</div>
